<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.dyndns.fules.ck"
	android:versionCode="18"
	android:versionName="@string/ck_version_summary">
	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="8"/>
	<uses-permission android:name="android.permission.BIND_INPUT_METHOD"/>
	<uses-permission android:name="android.permission.VIBRATE"/>

	<application
		android:label="@string/ime_name"
		android:icon="@drawable/icon_launcher">
		<service android:name="CompassKeyboard" android:permission="android.permission.BIND_INPUT_METHOD"> 
			<intent-filter>
				<action android:name="android.view.InputMethod"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.DELETE"/>
			</intent-filter>
			<meta-data android:name="android.view.im" android:resource="@xml/method"/>
		</service>

		<activity
			android:label="@string/ck_settings"
			android:name="CompassKeyboardSettings"
			android:exported="true">
		</activity>

		<activity
			android:name="org.dyndns.fules.ck.FilePickerPreference"
			android:exported="true">
		</activity>

		<activity
			android:name="org.dyndns.fules.ck.ButtonPreference"
			android:exported="true">
		</activity>

		<activity
			android:name="org.dyndns.fules.ck.TextDialogPreference"
			android:exported="true">
		</activity>

	</application>
</manifest> 
